$complimentary-color:rgb(255, 238, 0);
$primary-color:#0a5fcf;
// $primary-color:#cf0aa5;
$primary-besty-color:#660085;
$warning-color: rgb(202, 0, 40);
$secondary-color: #ffffff;
$success-color:#2ad046;
$text-color: #686767;